@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-primary: #C61F1F;
    --color-dark: #1E1E1E;
    --color-content: #111111;
}

.container {
  max-width: 1212px;
  padding-left: 16px;
  padding-right: 16px;
}

.mySwiper .swiper-slide {
  opacity: 0.2;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}



body{
    background-color: rgb(0, 0, 0);
}

.scrollbar-custom::-webkit-scrollbar {
  display: none; 
}

.scrollbar-custom {
  -ms-overflow-style: none;  
  scrollbar-width: none;    
}